<nav class="navbar">
  <div class="navdiv">
    <div class="logo"><a href="#"></a>The Loan Calculator</div>
    <ul>
      <li><a href="app.component.html">Home</a></li>
      <li><a href="about.component.html">About</a></li>
      <li><a href="contact.component.html">Contact Us</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>About Us</h1>
  <br /><br />
  <p>Here at Loan Calculations of Bellevue, we strive to provide an application that works for you.</p>
  <p>We've designed this application to suit your needs for basic loan calculations. </p>
  <p>Try it out to day and hopefully it works for all of your immediate financial needs.</p>
  <br />
</div>
